<%= render "shared/flash" %>
<div class="new-form-container panel">
  <div class="form">
    <%= form_for @topic do |f| %>
      <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>

      <div>
        <%= f.label :category %>
        <%= f.select :category, @categories.map {|a| [a, a] } %>
      </div>

      <%= f.submit 'Submit Topic', data: {disable_with: "Please wait..."}, class:"button radius" %>
    <% end %>
  </div>
</div>
