
<div class="debate-top-bar">
  <div class="topic-title">
    <h1><%= @topic.title %></h1>
  </div>
</div>


<div class="topic-debate-container panel">
  <div class="start-debate">
    <h2>
      <%= link_to "Start a Debate", new_topic_debate_path(@topic) %>
    </h2>
  </div>
  <div class="your-debates pan panel">
    <h1>Your Debates</h1>
    <h2>Completed</h2>
    <% @debates.each do |debate| %>
      <% if debate.participant?(current_user) %>
        <% if debate.complete? %>
          <%= render partial: "topic_debates", locals: {debate: debate} %>
        <% end %>
      <% end %>
    <% end %>
        <br>
        <br>
    <h2>In Progress</h2>
    <% @debates.each do |debate| %>
      <% if debate.participant?(current_user) %>
        <% unless debate.complete? %>
          <%= render partial: "topic_debates", locals: {debate: debate} %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="score-debates pan panel">
    <h1>Score a Completed Debate</h1>
    <% @debates.each do |debate| %>
      <% unless debate.participant?(current_user) %>
        <% if debate.complete? %>
          <%= render partial: "topic_debates", locals: {debate: debate} %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="join-debate pan panel">
    <h1>Join an Open Debate </h1>
    <% @debates.each do |debate| %>
      <% unless debate.participant?(current_user) %>
        <% if debate.empty? || debate.open? %>
          <%= render partial: "topic_debates", locals: {debate: debate} %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="graph-container pan small-12 columns panel">
  <div class="graph-title">
    <h1>Side Data</h1>
  </div>
    <div class="topic-bar-graph graph">
      <%= content_tag "div", id: "container", class:"panel", data: {title: (@topic.sides.map {|side| side.title}),
                                                     score: (@topic.sides.map {|side| side.points}),
                                                     topic: @topic.title  } do %>

      <% end %>
    </div>
    <div class="topic-pie-chart graph panel">
      <%= pie_chart (@topic.sides.order("created_at ASC").map {|side| [side.title, side.points]}), colors: ["FF9900","3299BB","black","BCBCBC","E9E9E9","424242"] %>
    </div>
  </div>
</div>
