<div class="argument-content">
  <div class="argument-container">
    <div class="small-5 columns side-arguments">
        <% @side_1_arguments.each_with_index do |argument, round| %>
          <div class="argument panel">
            <div><h3>Round <%= round + 1 %></h3></div>
            <div class="arg-body"><%= argument.body %></div>
            <div class="arg-applauds">Applauds:<%= argument.score %></div>
          </div>
        <% end %>
    </div>
    <div class="versus small-1 columns">

    </div>
    <div class="small-5 columns side-arguments">
        <% @side_2_arguments.each_with_index do |argument, round| %>
          <div class="argument panel">
            <div><h3>Round <%= round + 1 %></h3></div>
            <div class="arg-body"><%= argument.body %></div>
            <div class="arg-applauds">Applauds:<%= argument.score %></div>
          </div>
        <% end %>
    </div>
  </div>
  <div class="join-side-form small-12 columns">
    <%= form_for [ @debate, @debate_participant ] do |f|%>
      <h2><%= "Opponent is arguing #{@debate.taken_side.title}" %></h2>
      <%= f.hidden_field :side, value: @debate.remaining_side.id %>

      <%= f.submit "Defend #{@debate.remaining_side.title}", class:"button radius" %>
    <% end %>
    </div>
</div>
