<div class="argument-content">
  <div class="argument-container panel">
    <div class="small-5 columns side-arguments">
        <% @side_1_arguments.each_with_index do |argument, round| %>
          <div class="argument panel">
            <div><h3>Round <%= round + 1 %></h3></div>
            <div class="arg-body"><%= argument.body %></div>
            <div class="arg-applauds">Applauds:<%= argument.score %></div>
          </div>
        <% end %>
    </div>
    <div class="versus small-1 columns">

    </div>
    <div class="small-5 columns side-arguments">
        <% @side_2_arguments.each_with_index do |argument, round| %>
          <div class="argument panel">
            <div><h3>Round <%= round + 1 %></h3></div>
            <div class="arg-body"><%= argument.body %></div>
            <div class="arg-applauds">Applauds:<%= argument.score %></div>
          </div>
        <% end %>
    </div>
  </div>
</div>
