<div class="new-form-container panel">
  <div><h1><%= @topic.title %></h1></div>
  <div class="form">
    <%= form_for [@topic, @debate] do |f| %>

        <div>
          <%= label_tag :side_1 %>
          <%= text_field_tag :side_1 %>
        </div>

        <div>
          <%= label_tag :side_2 %>
          <%= text_field_tag :side_2 %>
        </div>

        <%= f.submit 'Create Debate', data: {disable_with: "Please wait..."}, class:"button radius" %>
      <% end %>
  </div>
</div>
