<h1><%= @topic.title %></h1>
<%= form_for [@topic, @debate] do |f| %>

    <div>
      <%= label_tag :side_1 %>
      <%= text_field_tag :side_1 %>
    </div>

    <div>
      <%= label_tag :side_2 %>
      <%= text_field_tag :side_2 %>
    </div>

    <%= f.submit 'Create Debate', class:"button radius" %>
  <% end %>
