

<% if @debate.empty? %>
<div class="debate-top-bar">
  <div class="topic-title">
    <h1><%= @debate.topic.title %></h1>
  </div>
  <div class="small-5 columns side-arguments">
    <h2><%= @debate.side_1.title %></h2>

  </div>
  <div class="versus small-2 columns">
    <h1>VS.</h1>
  </div>
  <div class="small-5 columns side-arguments">
    <h2><%= @debate.side_2.title %></h2>
  </div>
  <div class='top-bar-bottom small-12 columns'></div>
</div>
<div class="new-form-container panel side-pick">
<div class="form">
  <h2>Pick a Side</h2>
    <%= form_for [ @debate, @debate_participant ] do |f|%>
      <div>
        <%= f.label :side %>
        <%= f.select :side, @sides.map {|s| [s.title, s.id] } %>
      </div>

      <%= f.submit 'Join Debate', data: {disable_with: "Please wait..."}, class:"button radius" %>

    <% end %>
</div>
</div>
<% elsif @debate.open? %>

  <% if @debate.participant?(current_user) %>
    <% if @debate.arguments.count == 0 %>
    <div class="debate-top-bar">
      <div class="topic-title">
        <h1><%= @debate.topic.title %></h1>
      </div>
      <div class="small-5 columns side-arguments">
        <h2><%= @debate.side_1.title %></h2>

      </div>
      <div class="versus small-2 columns">
        <h1>VS.</h1>
      </div>
      <div class="small-5 columns side-arguments">
        <h2><%= @debate.side_2.title %></h2>
      </div>
      <div class='top-bar-bottom small-12 columns'></div>
    </div>
    <div class="argument-form-container small-12 columns">
      <div class="new-form-container panel">
        <div class="form">
          <h2>Make your Opening Argument for <%= @debate.taken_side.title %></h2>
          <%= form_for [ @debate, @argument ] do |f|%>
            <%= f.hidden_field :side, value: @debate.taken_side.id %>

            <%= f.label(:body) %>
            <%= f.text_area :body %>

            <%= f.submit "Submit Argument", data: {disable_with: "Please wait..."}, class:"button radius" %>
          <% end %>
        </div>
      </div>
    </div>
    <% else %>
    <div class="debate-top-bar">
      <div class="topic-title">
        <h1><%= @debate.topic.title %></h1>
      </div>
      <div class="small-5 columns side-arguments">
        <h2><%= @debate.side_1.title %></h2>

      </div>
      <div class="versus small-2 columns">
        <h1>VS.</h1>
      </div>
      <div class="small-5 columns side-arguments">
        <h2><%= @debate.side_2.title %></h2>
      </div>
      <div class='top-bar-bottom small-12 columns'></div>
    </div>
      <%= render 'arguments' %>
      <h2>Waiting for opponent to join</h2>
    <% end %>
  <% else %>

    <% if @debate.arguments.count == 0 %>
      <div class="small-12 columns panel">
        Waiting for opening argument...
      </div>
    <% else %>
    <div class="debate-top-bar">
      <div class="topic-title">
        <h1><%= @debate.topic.title %></h1>
      </div>
      <div class="small-5 columns side-arguments">
        <h2><%= @debate.side_1.title %></h2>

      </div>
      <div class="versus small-2 columns">
        <h1>VS.</h1>
      </div>
      <div class="small-5 columns side-arguments">
        <h2><%= @debate.side_2.title %></h2>
      </div>
      <div class='top-bar-bottom small-12 columns'></div>
    </div>
      <%= render 'arguments_join' %>

    <% end %>

  <% end %>
<% else %>

  <% if @debate.participant?(current_user) %>
    <% if @debate.arguments.count == 6 %>
    <div class="debate-top-bar">
      <div class="topic-title">
        <h1><%= @debate.topic.title %></h1>
      </div>
      <div class="small-5 columns side-arguments">
        <h2><%= @debate.side_1.title %></h2>

      </div>
      <div class="versus small-2 columns">
        <h1>VS.</h1>
      </div>
      <div class="small-5 columns side-arguments">
        <h2><%= @debate.side_2.title %></h2>
      </div>
      <div class='top-bar-bottom small-12 columns'></div>
    </div>
      <%= render 'arguments' %>
      Scoring Begins!!
    <% else %>

      <% if @debate.is_turn?(current_user) %>
      <div class="debate-top-bar">
        <div class="topic-title">
          <h1><%= @debate.topic.title %></h1>
        </div>
        <div class="small-5 columns side-arguments">
          <h2><%= @debate.side_1.title %></h2>

        </div>
        <div class="versus small-2 columns">
          <h1>VS.</h1>
        </div>
        <div class="small-5 columns side-arguments">
          <h2><%= @debate.side_2.title %></h2>
        </div>
        <div class='top-bar-bottom small-12 columns'></div>
      </div>
        <%= render 'arguments_turn' %>
      <% else %>
      <div class="debate-top-bar">
        <div class="topic-title">
          <h1><%= @debate.topic.title %></h1>
        </div>
        <div class="small-5 columns side-arguments">
          <h2><%= @debate.side_1.title %></h2>

        </div>
        <div class="versus small-2 columns">
          <h1>VS.</h1>
        </div>
        <div class="small-5 columns side-arguments">
          <h2><%= @debate.side_2.title %></h2>
        </div>
        <div class='top-bar-bottom small-12 columns'></div>
      </div>
        <%= render 'arguments' %>

        <div class="small-12 columns">Waiting for opponent's argument</div>
      <% end %>

    <% end %>
  <% else %>
    <div class="debate-top-bar">
      <div class="topic-title">
        <h1><%= @debate.topic.title %></h1>
      </div>
      <div class="small-5 columns side-arguments">
        <h2><%= @debate.side_1.title %></h2>

      </div>
      <div class="versus small-2 columns">
        <h1>VS.</h1>
      </div>
      <div class="small-5 columns side-arguments">
        <h2><%= @debate.side_2.title %></h2>
      </div>
      <div class='top-bar-bottom small-12 columns'></div>
    </div>
    <%= render 'scoring_arguments' %>
  <% end %>
<% end %>
