<div class="topic-debate-info panel row">
  <div class="small-12 columns">
    <h4><%= debate.topic.title %></h4>
  </div>
  <div class="topic-debate-side small-4 columns">
    <div><a href="<%= debate_path(debate) %>"><span></span></a></div>
    <div class="topic-side-name small-12">
      <%= debate.side_1.title %>
    </div>
    <% if debate.player_1 %>
      <div class="topic-debate-player small-12 columns panel">
        <div class="panel small-12 columns">
          <div class="topic-side-avatar small-6 columns">
            <%= image_tag(debate.player_1.avatar) %>
          </div>
          <div class="topic-side-user small-6 columns">
            <%= debate.player_1.user_name %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="topic-versus small-4 columns">
    <div><a href="<%= debate_path(debate) %>"><span></span></a></div>
    <div class="small-12 columns">
      <h1>VS.</h1>
    </div>
  </div>
  <div class="topic-debate-side small-4 columns">
    <div><a href="<%= debate_path(debate) %>"><span></span></a></div>
    <div class="topic-side-name small-12">
      <%= debate.side_2.title %>
    </div>
    <% if debate.player_2 %>
      <div class="topic-debate-player small-12 columns panel">
        <div class="panel small-12 columns">
          <div class="topic-side-2-user small-6 columns">
            <%= debate.player_2.user_name %>
          </div>
          <div class="topic-side-avatar small-6 columns">
            <%= image_tag(debate.player_2.avatar) %>
          </div>
        </div>
      </div>
    <% else %>
    <h3> Waiting for opponent...</h3>
    <% end %>
  </div>
</div>
