<!DOCTYPE html>
<html>
  <head>
    <title>Great Debate</title>
    <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%- if current_user -%>
    <div class="row main-container">

      <div class="small-12 columns">
        <ul class="side-nav small-12 columns">

          <li class="side-logo"><a href=<%= topics_path %> id="logo"><%= image_tag "logo2.png", size: '300', alt: "Great Debate Logo" %></a></li>
          <br>
          <br>
          <br>
          <li class="side-link"><%= link_to "All Topics", topics_path %></li>
          <li class="side-link"><%= link_to "Add Topic", new_topic_path %></li>
          <li class="side-link"><%= link_to "About Us", topics_path %></li>
          <li class="side-link"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <li class="bottom-avatar"><%= image_tag(current_user.avatar) if current_user.avatar %></li>
          <li class="bottom-avatar-text">User: <%= current_user.email %></li>

        </ul>
      </div>


      <div class="small-12 columns content">
        <%= render "shared/contents" %>
      </div>
    </div>
    <%- else -%>
    <div class="row">
      <div class="medium-3 columns">
        <ul class="side-nav">
          <a href=<%= topics_path %> id="logo"><%= image_tag "logo2.png", size: '300', alt: "Great Workspace Logo" %></a>
          <br>
          <br>
          <br>
          <li class="side-link"><%= link_to "All Topics", topics_path %></li>
          <li class="side-link"><%= link_to "Add topic", new_topic_path %></li>
          <li class="side-link"><%= link_to "About Us", topics_path %></li>
          <li class="side-link"><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li class="side-link"><%= link_to 'Sign In', new_user_session_path %></li>
        </ul>
      </div>

      <div class="medium-9 columns content">
        <%= render "shared/contents" %>
      </div>
    </div>
    <%- end -%>

    <%= javascript_include_tag 'application' %>
    <%= yield :extra_footer %>
  </body>
</html>
