<!DOCTYPE html>
<html>
  <head>
    <title>Great Debate</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%- if current_user -%>
      <div class="medium-3 columns">

        <ul class="side-nav">
          <a href=<%= topics_path %> id="logo"><%= image_tag "logo.png", size: '300', alt: "Great Debate Logo" %></a>

          <br>
          <br>
          <br>
          <li class="side-link"><%= link_to "All Workspaces", topics_path %></li>
          <li class="side-link"><%= link_to "Add Workspace", topics_path %></li>
          <li class="side-link"><%= link_to "About Us", topics_path %></li>
          <li class="side-link"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <li class="bottom-avatar-text">User: <%= current_user.email %></li>
        </ul>
      </div>

      <div class="medium-9 columns content">
        <%= render "shared/contents" %>
      </div>
    <%- else -%>
      <div class="medium-3 columns">
        <ul class="side-nav">
          <a href=<%= topics_path %> id="logo"><%= image_tag "logo.png", size: '300', alt: "Great Workspace Logo" %></a>
          <br>
          <br>
          <br>
          <li class="side-link"><%= link_to "All Topics", topics_path %></li>
          <li class="side-link"><%= link_to "Add topic", new_topic_path %></li>
          <li class="side-link"><%= link_to "About Us", topics_path %></li>
          <li class="side-link"><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li class="side-link"><%= link_to 'Sign In', new_user_session_path %></li>
        </ul>
      </div>

      <div class="medium-9 columns content">
        <%= render "shared/contents" %>
      </div>
    <%- end -%>

    <%= javascript_include_tag 'application' %>
    <%= yield :extra_footer %>
  </body>
</html>
